.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #caf0f8;
}

.title {
    font-size: 3em;
    color: #00b4d8; 
    text-align: center;
}

.subtitle {
    font-size: 2em;
    color: #0077b6; 
    text-align: center;
}

.button {
    width: 200px;
    height: 50px;
    margin: 10px;
    font-size: 0.95em;
    background-color: #03045e;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #0077b6; 
}
